<!DOCTYPE html>
<html>
<head>
    <title>Goods</title>
     <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <h1>Products</h1>
    <table>
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Stock Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in products.iterrows() %}
            <tr>
                <td>{{ row.product_id }}</td>
                <td>{{ row.product_name }}</td>
                <td>{{ row.description }}</td>
                <td>{{ row.stock_quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
